{% extends "base.html" %}
{% block content %}
<h2>Mensagens Automáticas</h2>
<form method="post">
    {% csrf_token %}
    <label for="phone_number">Número de Telefone:</label><br>
    <input type="text" id="phone_number" name="phone_number"><br>
    <label for="message">Mensagem:</label><br>
    <textarea id="message" name="message" rows="4" cols="50"></textarea><br>
    <label for="send_at">Data e Hora de Envio:</label><br>
    <input type="datetime-local" id="send_at" name="send_at"><br><br>
    <button type="submit">Agendar</button>
</form>
{% endblock %}